<div class="pull-right home">
  <%= link_to "Home", welcome_home_path, class: "btn btn-info" %>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
  <h2>Program Benefits and Rules</h2>
  <h3>Becoming a Dedicated Diner Dollars member: </h3>

  <h4>Simply Enroll from the Home page</h4>
    <p>Enrollment: </p>
    <ul>
      <li>Free</li>  
      <li>Allows you to select as many participating restaurants as you like</li>
      <li>Earn Dedicated Diner Dollars while you enjoy dining at your favorite restaurant(s)</li> 
      <li>Allows you to view your accumulated points online</li>
      <li>Option of signing up for an email alert when you earn the $25 Diner Dollars</li>
      <li>Risk-free</li>
    </ul>
    <p>Specifics:</p>
      <ul>
        <li>Simply dine at one of your favorite local restaurants </li>  
        <li>When the bill comes share your Diner Dollar's Passcode with your server</li>
        <li>Earn you a point for every dollar spent on food and drink</li>
        <li>When your point total adds up to 250, you will eligible to receive $25 Diners Dollars </li>
        <li>Diner Dollars may be redeemed on your next visit</li>
    </ul>
    <p>Details:</p>
      <ul>
        <li>Tax and tip are not included</li>  
        <li>Tabs under $10 are not eligible</li>
        <li>The $25 Diners Dollars must be redeemed in full and any remaining amount is void</li>
        <li>Accounts with no activity for 24 months will be deactivated and all points erased </li>
        <li>Only the member paying the check can be credited with the points</li>
    </ul>
  </div>
</div>