<h1>Cancel Diner Dollar Enrollments</h1>

<br />
  <table class="table table-striped table-bordered">
    <tr class="info">
      <th>Restaurant</th>
      <th>Enroll</th>
    </tr>
  
    <% @shops.each do |shop| %>
      <tr class="info">
        <td>shop.name</td>
        <td><div class="form-group">
          <%= button_to "Cancel my Diner Dollar's account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %>
        </div></td>
     </tr>
    <% end %>
  </table>


