@import "bootstrap";
@import 'welcome';

.background {
  background-color: #FFFFFA;
}

h1 {
  text-align: center;
  border: double #41564C;
  margin: 20px;
  padding: 20px;
  font-size: 3em;
  background-color: #A2D8BD;

}
